@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";



:root {
  --color-primary: #4f92ff;
  --color-secondary: #fb8500;
  --color-accent: #accffd;
  --color-neutral: #fefefe;
  --color-dark: #023047;
}
* {
  font-family: 'Poppins';
}
body {
  background-color: var(--color-neutral);
  color: var(--color-dark);
  font-family: 'Poppins';
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-accent {
  background-color: var(--color-accent);
}
.bg-neutral {
  background-color: var(--color-neutral);
}
.bg-dark {
  background-color: var(--color-dark);
}

